{
  "openapi": "3.0.0",
  "info": {
    "title": "Shipmozo Shipping API",
    "description": "REST API for order fulfillment, courier assignment, tracking, warehouses, NDR, and labels. All responses use `result` (`1` = success, `0` = failure), `message`, and `data`.\n\n**Base URL:** `https://shipping-api.com/app/api/v1` — do not add a trailing slash.\n\n**Auth:** Send `public-key` and `private-key` headers on every protected route, or obtain keys via `POST /login`.\n\n**Rate limits:** Shipmozo returns `x-ratelimit-limit` (500) and `x-ratelimit-remaining` on each response. Quota is **500 requests per 1-minute window** per API key; `remaining` drops with each call and **refreshes when the minute rolls over**.\n\n**Support:** munish@apporio.in",
    "contact": {
      "name": "Shipmozo API Support",
      "email": "munish@apporio.in"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://appiify.com/app/api/v1",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Get list of countries (for international shipments)",
        "description": "Returns countries available for international shipping. Use country ids when creating international orders.",
        "operationId": "Countries",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "x-exampleUnavailable": true
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "International orders reference data"
        }
      }
    },
    "/get-return-reason": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Get valid return reasons",
        "description": "Lists valid return reason IDs to pass when creating a return order.",
        "operationId": "getReturnReason",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-useCases": [
          "Populate return reason dropdown before push-return-order"
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Before push-return-order"
        }
      }
    },
    "/track-order": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Track a shipment's status",
        "description": "Returns the current tracking status and scan history for a shipment by AWB number.",
        "operationId": "trackOrder",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awb_number",
            "in": "query",
            "description": "Awb Number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "order_id": "98765",
                    "refrence_id": "STORE-1001",
                    "awb_number": "AWB123456789",
                    "rto_awb_number": "",
                    "courier": "Demo Courier",
                    "order_status": "Pickup Pending",
                    "expected_delivery_date": "2026-08-10",
                    "current_status": "Pickup Pending",
                    "status_time": "2026-08-05 10:15:00",
                    "scan_detail": []
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-queryExamples": [
          "?awb_number=YOUR_AWB"
        ],
        "x-responseFields": [
          {
            "name": "order_id",
            "notes": "Shipmozo internal order id."
          },
          {
            "name": "refrence_id",
            "notes": "Reference field (live spelling often omits an e)."
          },
          {
            "name": "awb_number",
            "notes": "Tracking AWB."
          },
          {
            "name": "rto_awb_number",
            "notes": "RTO AWB when applicable."
          },
          {
            "name": "courier",
            "notes": "Courier name."
          },
          {
            "name": "order_status",
            "notes": "High-level order status."
          },
          {
            "name": "expected_delivery_date",
            "notes": "ETA when provided."
          },
          {
            "name": "current_status",
            "notes": "Latest scan/status text (e.g. Pickup Pending)."
          },
          {
            "name": "status_time",
            "notes": "Timestamp of the current status."
          },
          {
            "name": "scan_detail",
            "notes": "Array of scan events when provided."
          }
        ],
        "x-docNotes": [
          "awb_number is obtained from Assign Courier, Auto-Assign, or Schedule Pickup."
        ],
        "x-errorExampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Query param awb_number; prefer webhooks over tight polling"
        }
      }
    },
    "/create-shipper": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "Register a shipper profile",
        "description": "Registers a shipper/exporter profile used for international shipments.",
        "operationId": "createShipper",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create shipper Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "Name",
                    "format": "string",
                    "default": "Rahul"
                  },
                  "phone": {
                    "description": "Phone",
                    "format": "string",
                    "default": "9876543210"
                  },
                  "email": {
                    "description": "Email",
                    "format": "string",
                    "default": "test@gmail.com"
                  },
                  "address_line_one": {
                    "description": "Address Line One",
                    "format": "string",
                    "default": "delhi railway station"
                  },
                  "address_line_two": {
                    "description": "Address Line Two",
                    "format": "string",
                    "default": "new delhi"
                  },
                  "pin_code": {
                    "description": "Pincode",
                    "format": "string",
                    "default": "141211"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "1",
                    "message": "Success",
                    "data": {
                      "shipper_id": "12345"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Shipper profile setup"
        }
      }
    },
    "/get-order-label/{awb_number}": {
      "get": {
        "tags": [
          "Label"
        ],
        "summary": "Download the shipping label",
        "description": "Returns the shipping label for a shipment as a base64-encoded image, once a courier has been assigned.",
        "operationId": "getOrderLabel",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awb_number",
            "in": "path",
            "description": "AWB Number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": [
                    {
                      "label": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAEhQGAhKmMIQAAAABJRU5ErkJggg==",
                      "created_at": "2026-08-05 12:00:00"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-responseFields": [
          {
            "name": "data[].label",
            "notes": "Base64 data-URL for the label image (typically PNG)."
          },
          {
            "name": "data[].created_at",
            "notes": "When the label was generated."
          }
        ],
        "x-docNotes": [
          "awb_number comes from Assign Courier, Auto-Assign, or Schedule Pickup.",
          "The verified response shape is a PNG base64 data-URL — not a caller-selected PDF/ZPL format."
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Returns base64 label PNG"
        }
      }
    },
    "/push-order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new shipment order",
        "description": "Creates a domestic shipment order in Shipmozo and returns the internal order_id used for all downstream calls (rates, assign, track, cancel).",
        "operationId": "pushOrders",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Push order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order Id",
                    "format": "string",
                    "default": "ordID"
                  },
                  "order_date": {
                    "description": "Order Date",
                    "format": "string",
                    "default": "2026-06-06"
                  },
                  "consignee_name": {
                    "description": "Consignee Name",
                    "format": "string",
                    "default": "John"
                  },
                  "consignee_phone": {
                    "description": "Consignee Phone",
                    "format": "string",
                    "default": "8000042323"
                  },
                  "consignee_alternate_phone": {
                    "description": "Consignee Alternate Phone",
                    "format": "string",
                    "default": ""
                  },
                  "consignee_email": {
                    "description": "Consignee Email",
                    "format": "string",
                    "default": "johnhelp@gmail.com"
                  },
                  "consignee_address_line_one": {
                    "description": "Consignee Address Line One",
                    "format": "string",
                    "default": "Sector 49"
                  },
                  "consignee_address_line_two": {
                    "description": "Consignee Address Line Two",
                    "format": "string",
                    "default": "Sohna Road"
                  },
                  "consignee_pin_code": {
                    "description": "Consignee Pincode",
                    "format": "string",
                    "default": "122001"
                  },
                  "consignee_city": {
                    "description": "Consignee City",
                    "format": "string",
                    "default": "Gurgaon"
                  },
                  "consignee_state": {
                    "description": "Consignee State",
                    "format": "string",
                    "default": "Haryana"
                  },
                  "product_detail": {
                    "description": "Product Details",
                    "type": "array",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "sku_number": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "number",
                          "default": 1
                        },
                        "discount": {
                          "type": "string",
                          "default": ""
                        },
                        "hsn": {
                          "type": "string"
                        },
                        "unit_price": {
                          "type": "money"
                        },
                        "product_category": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "example": [
                      {
                        "name": "Laptop",
                        "sku_number": "22",
                        "quantity": 1,
                        "discount": "",
                        "hsn": "#123",
                        "unit_price": 1000,
                        "product_category": "Other"
                      }
                    ]
                  },
                  "payment_type": {
                    "description": "Payment Type (PREPAID / COD)",
                    "format": "string",
                    "default": "PREPAID"
                  },
                  "cod_amount": {
                    "description": "COD Amount",
                    "format": "string",
                    "default": ""
                  },
                  "shipping_charges": {
                    "description": "Shipping Charges",
                    "format": "string",
                    "default": ""
                  },
                  "weight": {
                    "description": "Weight (in GRAM)",
                    "format": "string",
                    "default": "200"
                  },
                  "length": {
                    "description": "Length",
                    "format": "string",
                    "default": "10"
                  },
                  "width": {
                    "description": "Width",
                    "format": "string",
                    "default": "20"
                  },
                  "height": {
                    "description": "Height",
                    "format": "string",
                    "default": "15"
                  },
                  "warehouse_id": {
                    "description": "Warehouse ID",
                    "format": "string",
                    "default": ""
                  },
                  "gst_ewaybill_number": {
                    "description": "GST Ewaybill Number",
                    "format": "string",
                    "default": ""
                  },
                  "gstin_number": {
                    "description": "GST Number",
                    "format": "string",
                    "default": ""
                  }
                },
                "type": "object"
              },
              "example": {
                "order_id": "ordID",
                "order_date": "2026-06-06",
                "consignee_name": "John",
                "consignee_phone": "8000042323",
                "consignee_alternate_phone": "",
                "consignee_email": "johnhelp@gmail.com",
                "consignee_address_line_one": "Sector 49",
                "consignee_address_line_two": "Sohna Road",
                "consignee_pin_code": "122001",
                "consignee_city": "Gurgaon",
                "consignee_state": "Haryana",
                "product_detail": [
                  {
                    "name": "Laptop",
                    "sku_number": "22",
                    "quantity": 1,
                    "discount": "",
                    "hsn": "#123",
                    "unit_price": 1000,
                    "product_category": "Other"
                  }
                ],
                "payment_type": "PREPAID",
                "cod_amount": "",
                "shipping_charges": "",
                "weight": "200",
                "length": "10",
                "width": "20",
                "height": "15",
                "warehouse_id": "12",
                "gst_ewaybill_number": "",
                "gstin_number": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "Info": "Order Pushed Successfully",
                    "order_id": "ordID",
                    "refrence_id": "ordID"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "Sync e-commerce order to Shipmozo panel",
          "COD and prepaid orders"
        ],
        "x-errorExample": {
          "result": "0",
          "message": "Error",
          "data": {
            "error": "The selected warehouse id is invalid."
          }
        },
        "x-responseFields": [
          {
            "name": "Info",
            "notes": "Human-readable success note when present."
          },
          {
            "name": "order_id",
            "notes": "Shipmozo internal order ID — use this for all downstream APIs."
          },
          {
            "name": "refrence_id",
            "notes": "Echo of the order_id you sent (store id). Not for chaining later calls."
          },
          {
            "name": "error",
            "notes": "Populated on failure with the validation or business error text."
          }
        ],
        "x-failureFields": [
          {
            "name": "error",
            "notes": "Failure reason string (e.g. invalid warehouse)"
          }
        ],
        "x-docNotes": [
          "Weight is in grams. Dimensions are in cm. Dates use YYYY-MM-DD. Phone fields are digits only (no country code)."
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Create forward order"
        }
      }
    },
    "/international-push-order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new international shipment order",
        "description": "Creates an international/export shipment order.",
        "operationId": "internationalPushOrder",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Push order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order Id",
                    "format": "string",
                    "default": "ordID"
                  },
                  "order_date": {
                    "description": "Order Date",
                    "format": "string",
                    "default": "2024-01-06"
                  },
                  "consignee_name": {
                    "description": "Consignee Name",
                    "format": "string",
                    "default": "John"
                  },
                  "consignee_company_name": {
                    "description": "Consignee Company Name",
                    "format": "string",
                    "default": "John"
                  },
                  "consignee_phone": {
                    "description": "Consignee Phone",
                    "format": "string",
                    "default": "8000042323"
                  },
                  "consignee_alternate_phone": {
                    "description": "Consignee Alternate Phone",
                    "format": "string",
                    "default": "8000042323"
                  },
                  "consignee_email": {
                    "description": "Consignee Email",
                    "format": "string",
                    "default": "johnhelp@gmail.com"
                  },
                  "consignee_address_line_one": {
                    "description": "Consignee Address Line One",
                    "format": "string",
                    "default": "Sector 49"
                  },
                  "consignee_address_line_two": {
                    "description": "Consignee Address Line Two",
                    "format": "string",
                    "default": "Sohna Road"
                  },
                  "consignee_country_id": {
                    "description": "Consignee Country id",
                    "format": "string",
                    "default": "2"
                  },
                  "consignee_pin_code": {
                    "description": "Consignee Pincode",
                    "format": "string",
                    "default": "122001"
                  },
                  "consignee_city": {
                    "description": "Consignee City",
                    "format": "string",
                    "default": "Gurgaon"
                  },
                  "consignee_state": {
                    "description": "Consignee State",
                    "format": "string",
                    "default": "Haryana"
                  },
                  "consignee_gst_number": {
                    "description": "Consignee Gst number",
                    "format": "string",
                    "default": ""
                  },
                  "row_content": {
                    "description": "Product Details",
                    "type": "array",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "sku_number": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "hsn": {
                          "type": "string"
                        },
                        "unit_price": {
                          "type": "money"
                        },
                        "tax": {
                          "type": "money"
                        },
                        "product_category": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "example": [
                      {
                        "name": "Laptop",
                        "sku_number": "22",
                        "quantity": 1,
                        "discount": "",
                        "hsn": "#123",
                        "unit_price": 1000,
                        "tax": 0,
                        "product_category": "Other"
                      }
                    ]
                  },
                  "type_of_package": {
                    "description": "Type Of Package (SPS / MPS)",
                    "format": "string",
                    "default": "SPS"
                  },
                  "shipment_purpose": {
                    "description": "Shipment Purpose (DCSB4/SCSB4/CSB5)",
                    "format": "string",
                    "default": "SCSB4"
                  },
                  "shipping_charges": {
                    "description": "Shipping Charges",
                    "format": "string",
                    "default": ""
                  },
                  "weight": {
                    "description": "Weight (in GRAM)",
                    "format": "string",
                    "default": "200"
                  },
                  "length": {
                    "description": "Length",
                    "format": "string",
                    "default": "10"
                  },
                  "width": {
                    "description": "Width",
                    "format": "string",
                    "default": "20"
                  },
                  "height": {
                    "description": "Height",
                    "format": "string",
                    "default": "15"
                  },
                  "warehouse_id": {
                    "description": "Warehouse ID",
                    "format": "string",
                    "default": ""
                  },
                  "gst_ewaybill_number": {
                    "description": "GST Ewaybill Number",
                    "format": "string",
                    "default": ""
                  },
                  "gstin_number": {
                    "description": "GST Number",
                    "format": "string",
                    "default": ""
                  },
                  "currency": {
                    "description": "currency",
                    "format": "string",
                    "default": "INR"
                  },
                  "iec_number": {
                    "description": "IEC Number",
                    "format": "string",
                    "default": ""
                  },
                  "terms_of_invoice": {
                    "description": "terms_of_invoice (FOB/CIF)",
                    "format": "string",
                    "default": "FOB"
                  },
                  "ecomm": {
                    "description": "ecomm (YES/NO)",
                    "format": "string",
                    "default": "NO"
                  },
                  "ad_code": {
                    "description": "Ad Code",
                    "format": "string",
                    "default": ""
                  },
                  "invoice_number": {
                    "description": "Invoice Number",
                    "format": "string",
                    "default": ""
                  },
                  "invoice_date": {
                    "description": "Invoice Date",
                    "format": "string",
                    "default": "2025-04-01"
                  },
                  "meis": {
                    "description": "meis (YES/NO)",
                    "format": "string",
                    "default": "NO"
                  },
                  "export_type": {
                    "description": "Export Type (BOND/UT)",
                    "format": "string",
                    "default": "NA"
                  },
                  "ioss_number": {
                    "description": "ioss_number",
                    "format": "string",
                    "default": ""
                  },
                  "lut_number": {
                    "description": "lut_number",
                    "format": "string",
                    "default": ""
                  },
                  "lut_issue_date": {
                    "description": "lut_issue_date",
                    "format": "string",
                    "default": ""
                  },
                  "lut_till_date": {
                    "description": "lut_till_date",
                    "format": "string",
                    "default": ""
                  },
                  "freight_amount": {
                    "description": "freight_amount",
                    "format": "string",
                    "default": ""
                  },
                  "incoterms": {
                    "description": "incoterms (DDU/DDP)",
                    "format": "string",
                    "default": "DDP"
                  },
                  "insurance_amount": {
                    "description": "insurance_amount",
                    "format": "string",
                    "default": ""
                  },
                  "shipper_id": {
                    "description": "shipper_id (Get this from create-shipper API)",
                    "format": "string",
                    "default": ""
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "x-exampleUnavailable": true
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "International forward order"
        }
      }
    },
    "/push-return-order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a return/reverse shipment order",
        "description": "Creates a reverse/return shipment with pickup from the customer address. Use a return_reason_id from get-return-reason.",
        "operationId": "pushReturnOrder",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Push Return order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order Id",
                    "format": "string",
                    "default": "ordID"
                  },
                  "order_date": {
                    "description": "Order Date",
                    "format": "string",
                    "default": "2024-07-27"
                  },
                  "pickup_name": {
                    "description": "Pickup Name",
                    "format": "string",
                    "default": "John"
                  },
                  "pickup_phone": {
                    "description": "Pickup Phone",
                    "format": "string",
                    "default": "8000042323"
                  },
                  "pickup_email": {
                    "description": "Pickup Email",
                    "format": "string",
                    "default": "johnhelp@gmail.com"
                  },
                  "pickup_address_line_one": {
                    "description": "Pickup Address Line One",
                    "format": "string",
                    "default": "Sector 49"
                  },
                  "pickup_address_line_two": {
                    "description": "Pickup Address Line Two",
                    "format": "string",
                    "default": "Sohna Road"
                  },
                  "pickup_pin_code": {
                    "description": "Pickup Pincode",
                    "format": "string",
                    "default": "122001"
                  },
                  "pickup_city": {
                    "description": "Pickup City",
                    "format": "string",
                    "default": "Gurgaon"
                  },
                  "pickup_state": {
                    "description": "Pickup State",
                    "format": "string",
                    "default": "Haryana"
                  },
                  "product_detail": {
                    "description": "Product Details",
                    "type": "array",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "sku_number": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "hsn": {
                          "type": "string"
                        },
                        "unit_price": {
                          "type": "money"
                        },
                        "product_category": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "example": [
                      {
                        "name": "Product Name",
                        "sku_number": "22",
                        "quantity": 1,
                        "discount": "",
                        "hsn": "#123",
                        "unit_price": 1000,
                        "product_category": "Other"
                      }
                    ]
                  },
                  "payment_type": {
                    "description": "Payment Type (PREPAID)",
                    "format": "string",
                    "default": "PREPAID"
                  },
                  "weight": {
                    "description": "Weight (in GRAM)",
                    "format": "string",
                    "default": "2"
                  },
                  "length": {
                    "description": "Length",
                    "format": "string",
                    "default": "10"
                  },
                  "width": {
                    "description": "Width",
                    "format": "string",
                    "default": "500"
                  },
                  "height": {
                    "description": "Height",
                    "format": "string",
                    "default": "15"
                  },
                  "warehouse_id": {
                    "description": "Warehouse ID",
                    "format": "string",
                    "default": ""
                  },
                  "return_reason_id": {
                    "description": "Return Reason ID",
                    "format": "string",
                    "default": ""
                  },
                  "customer_request": {
                    "description": "Customer Request (REFUND/EXCHANGE)",
                    "format": "string",
                    "default": "REFUND"
                  },
                  "reason_comment": {
                    "description": "Reason Comment",
                    "format": "string",
                    "default": ""
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "1",
                    "message": "Success",
                    "data": {
                      "Info": "Order Pushed Successfully",
                      "order_id": "ordID",
                      "refrence_id": "ordID"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "Customer return with pickup from customer address"
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Return / reverse pickup order"
        }
      }
    },
    "/assign-courier": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Assign a courier and get the AWB",
        "description": "Manually assigns a courier to an existing order using a courier_id from rate-calculator. Returns the AWB once assignment succeeds.",
        "operationId": "assignCourier",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Assign Courier Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order ID",
                    "format": "string",
                    "default": "test123"
                  },
                  "courier_id": {
                    "description": "Courier ID",
                    "format": "string",
                    "default": "1"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "1",
                    "message": "Success",
                    "data": {
                      "order_id": "test123",
                      "refrence_id": "test123",
                      "courier": "Delhivery"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "Manual courier selection after rate comparison"
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Manual courier from rate-calculator"
        }
      }
    },
    "/schedule-pickup": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Schedule a courier pickup",
        "description": "Schedules a courier pickup for an order whose assigned courier does not automatically schedule pickup (pickups_automatically_scheduled: NO from Rate Calculator).",
        "operationId": "schedulePickup",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Schedule Pickup Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order ID",
                    "format": "string",
                    "default": "test123"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "order_id": "98765",
                    "reference_id": "STORE-1001",
                    "courier": "Demo Courier",
                    "awb_number": "AWB123456789",
                    "lr_number": "LR001"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "When rate-calculator returns pickups_automatically_scheduled: NO"
        ],
        "x-docNotes": [
          "Only call this when Rate Calculator showed pickups_automatically_scheduled: \"NO\" for the chosen courier; otherwise the AWB is already assigned."
        ],
        "x-errorExample": {
          "result": "0",
          "message": "Order not found"
        },
        "x-responseFields": [
          {
            "name": "order_id",
            "notes": "Shipmozo internal order id."
          },
          {
            "name": "reference_id",
            "notes": "Reference returned by the API."
          },
          {
            "name": "courier",
            "notes": "Courier name."
          },
          {
            "name": "awb_number",
            "notes": "Air Waybill after pickup scheduling."
          },
          {
            "name": "lr_number",
            "notes": "LR number when provided by the courier."
          }
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "When pickups_automatically_scheduled = NO"
        }
      }
    },
    "/cancel-order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "Cancels an order before courier pickup. Requires the Shipmozo order_id and awb_number.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "cancel order Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order ID",
                    "format": "string",
                    "default": "test123"
                  },
                  "awb_number": {
                    "description": "Awb Number",
                    "format": "string",
                    "default": "38389839839839"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "1",
                    "message": "Success",
                    "data": {
                      "order_id": "test123",
                      "refrence_id": "test123"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "Cancel before courier pickup"
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "order_id + awb_number required"
        }
      }
    },
    "/auto-assign-order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Auto-assign a courier (per panel settings)",
        "description": "Automatically assigns a courier to an order based on rules configured in the Shipmozo panel Settings Auto Assign. Requires that feature to be enabled first — otherwise the call fails.",
        "operationId": "autoCourierAssign",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Auto Assign Order Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order ID",
                    "format": "string",
                    "default": "test123"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "order_id": "98765",
                    "reference_id": "STORE-1001",
                    "awb_number": "AWB123456789",
                    "courier_company": "Demo Courier",
                    "courier_company_service": "Surface"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-useCases": [
          "One-shot assign when panel auto-assign is configured"
        ],
        "x-docNotes": [
          "Prerequisite: configure Auto Assign rules in the Shipmozo panel before calling this endpoint."
        ],
        "x-errorExample": {
          "result": "0",
          "message": "Error",
          "data": {
            "error": "please setup auto assign"
          }
        },
        "x-responseFields": [
          {
            "name": "order_id",
            "notes": "Shipmozo internal order id."
          },
          {
            "name": "reference_id",
            "notes": "Reference returned by the API (spelling may vary)."
          },
          {
            "name": "awb_number",
            "notes": "Air Waybill — use for track-order and get-order-label."
          },
          {
            "name": "courier_company",
            "notes": "Assigned courier name."
          },
          {
            "name": "courier_company_service",
            "notes": "Service level when provided."
          }
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Requires panel auto-assign enabled"
        }
      }
    },
    "/generate-manifest": {
      "get": {
        "tags": [
          "Label"
        ],
        "summary": "Generate a pickup manifest",
        "description": "Generates a pickup manifest document for the given AWB number(s).",
        "operationId": "generateManifest",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awb_numbers",
            "in": "query",
            "description": "One or more AWB numbers as a comma-separated list. A specific maximum count per request is not independently verified in this portal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-exampleUnavailable": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "x-queryExamples": [
          "?awb_numbers=123123123,456456456 — supports multiple comma-separated AWB numbers"
        ],
        "x-docNotes": [
          "awb_numbers supports multiple comma-separated AWB numbers. A specific maximum per request is not independently verified in this portal."
        ],
        "x-errorExampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Max 25 AWB numbers per request (comma-separated)"
        }
      }
    },
    "/get-ndr-all": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List failed-delivery (NDR) orders",
        "description": "Lists non-delivery report (NDR) shipments that need action.",
        "operationId": "getAllNdrShipments",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From Date, Format: dd-mm-yyyy, default: 2 months",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To Date, Format: dd-mm-yyyy, default: 2 months",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page, max:100, default:25",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "x-exampleUnavailable": true
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Paginated; per_page max 100"
        }
      }
    },
    "/ndr-action/{awb_number}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Take action on a failed delivery",
        "description": "Takes an action on an NDR shipment (reattempt, RTO, etc.).",
        "operationId": "ndrOrderAction",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awb_number",
            "in": "path",
            "description": "AWB Number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Action, in: REATTEMPT, RETURN",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "NDR reattempt / RTO actions"
        }
      }
    },
    "/get-order-detail/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get full details of an order",
        "description": "Returns full details for an order by order_id.",
        "operationId": "getOrderDetail",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "x-exampleUnavailable": true
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Order status snapshot"
        }
      }
    },
    "/rate-calculator": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "Compare courier rates for a shipment",
        "description": "Returns available couriers and their rates for a shipment between two pincodes. Also useful as a serviceability check — if it returns one or more couriers, the pincode pair is serviceable.",
        "operationId": "rateCalculator",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Rate Calculator Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order Id",
                    "format": "string",
                    "default": ""
                  },
                  "pickup_pincode": {
                    "description": "Pickup Pincode",
                    "format": "string",
                    "default": "122001"
                  },
                  "delivery_pincode": {
                    "description": "Delivery Pincode",
                    "format": "string",
                    "default": "110001"
                  },
                  "payment_type": {
                    "description": "Payment Type (PREPAID/COD)",
                    "format": "string",
                    "default": "PREPAID"
                  },
                  "shipment_type": {
                    "description": "Shipment Type (FORWARD/RETURN)",
                    "format": "string",
                    "default": "FORWARD"
                  },
                  "order_amount": {
                    "description": "Order Amount",
                    "format": "string",
                    "default": "1000"
                  },
                  "type_of_package": {
                    "description": "Type Of Package (SPS/MPS/B2B)",
                    "format": "string",
                    "default": "SPS"
                  },
                  "rov_type": {
                    "description": "Rov type (ROV_OWNER/ROV_CARRIER)",
                    "format": "string",
                    "default": "ROV_OWNER"
                  },
                  "cod_amount": {
                    "description": "COD Amount",
                    "format": "string",
                    "default": ""
                  },
                  "weight": {
                    "description": "Weight (in GRAM)",
                    "format": "string",
                    "default": "500"
                  },
                  "dimensions": {
                    "description": "dimensions Details",
                    "type": "array",
                    "items": {
                      "properties": {
                        "no_of_box": {
                          "type": "number"
                        },
                        "length": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "example": [
                      {
                        "no_of_box": "1",
                        "length": "22",
                        "width": "10",
                        "height": "10"
                      }
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": [
                    {
                      "id": "12",
                      "name": "Demo Courier",
                      "estimated_delivery": "2026-08-08",
                      "total_charges": "85.00",
                      "shipping_charges": "72.00",
                      "gst": "13.00",
                      "pickups_automatically_scheduled": "NO",
                      "from_zone": "A",
                      "to_zone": "B"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-responseFields": [
          {
            "name": "id",
            "notes": "Courier id — pass as courier_id to assign-courier."
          },
          {
            "name": "name",
            "notes": "Courier display name."
          },
          {
            "name": "estimated_delivery",
            "notes": "Estimated delivery date when provided."
          },
          {
            "name": "total_charges",
            "notes": "Total charge including GST components when provided."
          },
          {
            "name": "shipping_charges",
            "notes": "Base shipping charge."
          },
          {
            "name": "gst",
            "notes": "GST amount."
          },
          {
            "name": "pickups_automatically_scheduled",
            "notes": "\"YES\" means you can skip schedule-pickup; \"NO\" means call schedule-pickup after assign."
          },
          {
            "name": "from_zone",
            "notes": "Origin zone used for rating."
          },
          {
            "name": "to_zone",
            "notes": "Destination zone used for rating."
          }
        ],
        "x-docNotes": [
          "Each courier id in the response is the courier_id used in Assign Courier.",
          "Weight is in grams. Dimensions (length, width, height) are in cm."
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Rate shopping; shares 500 pool with all APIs"
        }
      }
    },
    "/international-rate-calculator": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "Compare courier rates for an international shipment",
        "description": "Compares international courier rates for a given destination and package.",
        "operationId": "internationalRateCalculator",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Rate Calculator Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pickup_pincode": {
                    "description": "Pickup Pincode",
                    "format": "string",
                    "default": "122001"
                  },
                  "delivery_pincode": {
                    "description": "Delivery Pincode",
                    "format": "string",
                    "default": "110001"
                  },
                  "delivery_country_id": {
                    "description": "Delivery country id",
                    "format": "string",
                    "default": "2"
                  },
                  "order_amount": {
                    "description": "Order Amount",
                    "format": "string",
                    "default": "1000"
                  },
                  "type_of_package": {
                    "description": "Type Of Package (SPS/MPS/B2B)",
                    "format": "string",
                    "default": "SPS"
                  },
                  "shipment_purpose": {
                    "description": "Rov type ('DCSB4','SCSB4','CSB5')",
                    "format": "string",
                    "default": "SCSB4"
                  },
                  "weight": {
                    "description": "Weight (in GRAM)",
                    "format": "string",
                    "default": "500"
                  },
                  "dimensions": {
                    "description": "dimensions Details",
                    "type": "array",
                    "items": {
                      "properties": {
                        "no_of_box": {
                          "type": "number"
                        },
                        "length": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "example": [
                      {
                        "no_of_box": "1",
                        "length": "22",
                        "width": "10",
                        "height": "10"
                      }
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "x-exampleUnavailable": true
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-exampleUnavailable": true,
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "International rate quotes"
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "Login & obtain API keys",
        "description": "Exchanges a Shipmozo panel username and password for the public_key / private_key pair used to authenticate all other requests. On success, data is an array: [{ name, public_key, private_key }] — note the array wrapping.",
        "operationId": "Login",
        "requestBody": {
          "description": "User Login Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "username": {
                    "description": "Email Or phone number",
                    "format": "string",
                    "default": ""
                  },
                  "password": {
                    "description": "password",
                    "format": "string",
                    "default": ""
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": [
                    {
                      "name": "Seller Name",
                      "public_key": "YOUR_PUBLIC_KEY",
                      "private_key": "YOUR_PRIVATE_KEY"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [],
        "x-useCases": [
          "Bootstrap integration — fetch public_key and private_key",
          "Rotate keys after password change"
        ],
        "x-errorExampleUnavailable": true,
        "x-responseFields": [
          {
            "name": "data[0].name",
            "notes": "Seller / account display name."
          },
          {
            "name": "data[0].public_key",
            "notes": "Send as the public-key header on later calls."
          },
          {
            "name": "data[0].private_key",
            "notes": "Send as the private-key header on later calls. Keep server-side only."
          }
        ],
        "x-docNotes": [
          "Success data is an array of one object — do not treat data as a plain object."
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Cache keys after success; do not poll login"
        }
      }
    },
    "/get-warehouses": {
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "List your warehouses",
        "description": "Returns all warehouses configured on your Shipmozo account, including the default warehouse used for pushing orders.",
        "operationId": "getWarehouses",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "If you have more than 25 records, pass page number (For next 25 records)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": [
                    {
                      "id": "12345",
                      "default": "YES",
                      "address_title": "Main Warehouse",
                      "name": "Rahul",
                      "email": "ops@example.com",
                      "phone": "9876543210",
                      "alt_phone": "",
                      "address_line_one": "12 MG Road",
                      "address_line_two": "Near Metro",
                      "pincode": "110001",
                      "city": "New Delhi",
                      "state": "Delhi",
                      "country": "India",
                      "status": "ACTIVE"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-queryExamples": [
          "?page=2"
        ],
        "x-responseFields": [
          {
            "name": "id",
            "notes": "Warehouse ID to use as warehouse_id on push-order and related calls."
          },
          {
            "name": "default",
            "notes": "\"YES\" marks the warehouse used automatically when none is specified elsewhere; otherwise \"NO\"."
          },
          {
            "name": "address_title",
            "notes": "Label for this warehouse in the panel."
          },
          {
            "name": "name",
            "notes": "Contact name for the warehouse."
          },
          {
            "name": "email",
            "notes": "Contact email."
          },
          {
            "name": "phone",
            "notes": "Primary phone (digits)."
          },
          {
            "name": "alt_phone",
            "notes": "Alternate phone, if set."
          },
          {
            "name": "address_line_one",
            "notes": "Primary street address."
          },
          {
            "name": "address_line_two",
            "notes": "Secondary address line."
          },
          {
            "name": "pincode",
            "notes": "Pickup pincode."
          },
          {
            "name": "city",
            "notes": "City."
          },
          {
            "name": "state",
            "notes": "State."
          },
          {
            "name": "country",
            "notes": "Country."
          },
          {
            "name": "status",
            "notes": "Warehouse status in Shipmozo (e.g. ACTIVE)."
          }
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Optional ?page= for >25 warehouses"
        }
      }
    },
    "/create-warehouse": {
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Register a new warehouse",
        "description": "Registers a new warehouse (pickup location) on your Shipmozo account and returns its warehouse_id.",
        "operationId": "createWarehouse",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create Warehouse Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_title": {
                    "description": "Address Title",
                    "format": "string",
                    "default": "test123"
                  },
                  "name": {
                    "description": "Name",
                    "format": "string",
                    "default": "Rahul"
                  },
                  "phone": {
                    "description": "Phone",
                    "format": "string",
                    "default": "9876543210"
                  },
                  "alternate_phone": {
                    "description": "Alternate Phone",
                    "format": "string",
                    "default": "9876543210"
                  },
                  "email": {
                    "description": "Email",
                    "format": "string",
                    "default": "test@gmail.com"
                  },
                  "address_line_one": {
                    "description": "Address Line One",
                    "format": "string",
                    "default": "delhi railway station"
                  },
                  "address_line_two": {
                    "description": "Address Line Two",
                    "format": "string",
                    "default": "new delhi"
                  },
                  "pin_code": {
                    "description": "Pincode",
                    "format": "string",
                    "default": "141211"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "warehouse_id": "12345"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docNotes": [
          "If you reuse an existing address_title, Shipmozo typically returns the existing warehouse_id instead of creating a duplicate or erroring."
        ],
        "x-responseFields": [
          {
            "name": "warehouse_id",
            "notes": "ID to pass as warehouse_id on push-order and related calls."
          }
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Unique address_title"
        }
      }
    },
    "/order/update-warehouse": {
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Change an order's linked warehouse",
        "description": "Updates which warehouse is associated with an already-created order.",
        "operationId": "orderUpdateWarehouse",
        "parameters": [
          {
            "name": "public-key",
            "in": "header",
            "description": "Api Public Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private-key",
            "in": "header",
            "description": "Api Private Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Order Update Warehouse Required Parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order_id": {
                    "description": "Order ID",
                    "format": "string",
                    "default": "test123"
                  },
                  "warehouse_id": {
                    "description": "Warehouse ID",
                    "format": "string",
                    "default": "1"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "order_id": "98765",
                    "refrence_id": "STORE-1001"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-docNotes": [
          "order_id must be Shipmozo internal order_id from push-order — not your storefront order id alone.",
          "Live responses may spell the reference field as refrence_id (missing e). Parse that spelling when reading responses."
        ],
        "x-responseFields": [
          {
            "name": "order_id",
            "notes": "Shipmozo internal order id."
          },
          {
            "name": "refrence_id",
            "notes": "Reference echoed by the API (live spelling often omits an e)."
          }
        ],
        "security": [
          {
            "ApiKeyPublic": []
          },
          {
            "ApiKeyPrivate": []
          }
        ],
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "Change warehouse on existing order"
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "Check API health / version",
        "description": "Checks whether the Shipmozo API is currently reachable and responding. Requires no authentication — useful as a first connectivity check before setting up credentials.",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "result": "1",
                  "message": "Success",
                  "data": {
                    "version": "v1"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [],
        "x-useCases": [
          "Health check before batch jobs",
          "Verify connectivity from new server"
        ],
        "x-responseFields": [
          {
            "name": "result",
            "notes": "\"1\" means the API responded successfully."
          },
          {
            "name": "message",
            "notes": "Human-readable outcome."
          },
          {
            "name": "data",
            "notes": "Health/version details when provided by the API."
          }
        ],
        "x-errorExampleUnavailable": true,
        "x-rateLimit": {
          "limit": 500,
          "remainingHeader": "x-ratelimit-remaining",
          "limitHeader": "x-ratelimit-limit",
          "window": "1 minute",
          "windowSeconds": 60,
          "windowBehavior": "x-ratelimit-remaining only changes when Shipmozo sends a new HTTP response to you — it does not tick down on its own in the browser. Each API call lowers remaining by 1. After ~60 seconds, the next call you make usually shows remaining closer to 500 again (sliding window, not a live clock on the docs page).",
          "sharedQuota": true,
          "notes": "No API keys; still returns rate-limit headers"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Common",
      "description": "Common API Endpoints"
    },
    {
      "name": "Orders",
      "description": "API Endpoints of Orders"
    },
    {
      "name": "Utility",
      "description": "API Endpoints of Shipment Utilities"
    },
    {
      "name": "Track",
      "description": "Track"
    },
    {
      "name": "Label",
      "description": "Label"
    },
    {
      "name": "Warehouse",
      "description": "Warehouse"
    }
  ],
  "externalDocs": {
    "description": "Download Pdf",
    "url": "https://shipping-api.com"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyPublic": {
        "type": "apiKey",
        "in": "header",
        "name": "public-key",
        "description": "API public key from panel profile or POST /login"
      },
      "ApiKeyPrivate": {
        "type": "apiKey",
        "in": "header",
        "name": "private-key",
        "description": "API private key — keep server-side only"
      }
    },
    "schemas": {
      "ShipmozoResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "0",
[...]
